.title {	
	align-content: center;
    margin: 150px;
    padding: auto;
}

.btn {
    width: 350px;
    height: 50px;
    margin: 10px 25px 10px 25px;
    border: 0;
    background-color: rgb(2, 224, 224);
    font-size: 20px;
    font-weight: 1000;
    color: rgb(160, 119, 235);
    padding: 0 0 0 0;
    transform: scale(1);
    transition: 0.2s linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
    background-color: rgb(0, 255, 255);
    box-shadow: 0 0 20px rgba(0,0,0,0.5)
}

.form {
    width: 350px;
    height: 50px;
    margin: 10px 25px 10px 25px;
    border: 0;

    border-radius: 10px;
}