.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 30vh auto auto auto;
    width: 450px;
    height: 154px;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 90%;
}

.login-btn {
    font-size: 25px;

    width: 48%;
    height: 50px;

    border-radius: 5px;
    border: solid red 1px;

    color: red;
    background: rgba(255, 255, 255, 0.5);

    transition: 0.2s linear;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    outline: none;
}

.login__btn-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 5px;
    width: 100%;
}

.login-btn:hover {
    font-size: 30px;

    border: solid white 1px;

    background-color: red;
    color: white;

    transition: 0.2s linear;
}

.login__input {
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: 30px;

    border: solid 1px red;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.5);
    color: red;

    outline: none;

    transition: 0.2s linear;

}

.login__input:valid {
    background: white;
    color: red;
}

.login__input:invalid {
    background: red;
    color: white;
}

.login__input:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red;

    transition: 0.2s linear;
}

::placeholder {
    color: #D2CFCF;
}

.login__title {
    width: 100%;
    text-align: center;

    color: red;
}