/* .app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    margin: 30vh auto auto auto;
    width: 650px;
    height: 154px;
    justify-content: space-between;
} */

/* Блоки: */


@media (max-width: 414px) {
    body { 
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        /* justify-self: center; */
        width: 100%;
        height: 154px;

        min-width: 300px;
    }

    .menu__title {
        text-align: center;
    
        margin: 0px 0px 5px 0px;
    
        width: 100%;

        color: red;
        /* font: driving-around; */
        /* transition-property: color;
    
        transition-duration: 0.2s; */
    }

    .main-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        float: left;

        order: 2;
    
        margin: none;
        width: 100%;
        height: 70%;
    }
    
    .options {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        /* order: 3; */

        margin: 5px auto;
        width: 650px;
    }
    
    /* Элементы */
    
    .profile-avatar {
        margin: 7%;
        height: 70px;
        width: 70px;
    }
    
    .profile-nickname, .profile-score {
        text-align: center;
    
        color: red;
    }
    
    .profile-nickname {
        margin-bottom: 5px;
    }
    
    .profile-score {
        margin: 0px;
    
        font-size: 30px;
    }
    
    .main-bar__item {
        text-align: center;
    
        margin: 5px 0px 0px 0px;
        width: 100%;
        height: 100%;
    
        background-color: white;
    
        border: 1px red solid;
        border-radius: 5px;
    
        transition: 0.2s linear;
    }
    
    .menu_btn {
        font-size: 25px;
    
        border-radius: 5px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .btn-1 {
        font-size: 25px;
    
        width: 48%;
    
        border-radius: 5px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .menu_btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: red;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu_btn:hover::after {
        display: flex;
        justify-content: space-around;
        margin: none;
    
        font-size: 15px;
        
        content: attr(data-title);
        color: #fff;
        font-family: sans-serif;
        /* background-color: green; */
    
        transition: 0.2s linear;
    }
    
    .menu__play-btn {
        width: 69%;
        height: 100px;
        margin: 0px 0 0 0;
    
        font-size: 25px;
    
        border-radius: 5px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
        
        outline: none;
    
        transition-property: width;
    
        /* transition-delay: 0.2s; */
        transition-duration: 0.2s;
    }
    
    .menu__play-btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: red;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu__profile {
        float: right;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
    
        width: 29%;
        height: 98px;
    
        border-radius: 5px;
        border: 1px red solid;
    
        background-color: rgba(255, 255, 255, 0.8);
    
        transition-property: width;
    
        z-index: 2;

        transition-duration: 0.2s;
    }
    
    /* .menu__profile + .menu__play-btn {
        width: 100%;
    } */
    
    
    .menu__profile:hover {
        width: 69%;
        
        transition-property: width;
    
        /* transition-delay: 0.2s; */
        transition-duration: 0.2s;
    }
    
    .menu__profile:hover + .menu__play-btn {
        width: 29%;
    
        transition-property: width;
    
        transition-delay: 0s;
        transition-duration: 0.2s;
    }
    
    
    .options__link {
        color: red;
        text-decoration: none;
        
        transition: 0.2s linear;
    }
    
    .options__link:hover {
        transition: 0.2s linear;
        background-color: red;
        color: white;
    }

}

@media (min-width: 415px) {
    .menu {
        position: relative;
        justify-content: space-between;
    
        /* margin: 30vh auto auto auto; */
        width: 100vw;
        height: 154px;

    }

    .menu {
        position: relative;
        justify-content: space-between;
    
        margin: 30vh auto auto auto;
        width: 650px;
        height: 154px;
    }
    
    .main-bar {
        display: flex;
        justify-content: space-between;
        float: left;
    
        margin: none;
        width: 70%;
        height: 100px;
    }
    
    .options {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        margin: 5px auto;
        width: 650px;
    }
    .menu__profile-buttons-section {
        display: none;
        flex-wrap: wrap;
        margin-left: 6%;
        margin-right: 6%;

        border-top: solid 1px red;

        width: 100%;
        height: 100%;

        z-index: 0;
    }
    
    /* Элементы */
    
    .profile-button {
        width: 40%;
        height: 25px;

        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;

        font-size: 15px;
    
        border-radius: 2px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }

    .profile-button:hover {
        font-size: 17px;
    
        border: solid white 1px;
    
        background-color: red;
        color: white;
    
        transition: 0.2s linear;
    }

    .menu__title {
        text-align: center;
    
        margin: 0px 0px 5px 0px;
    
    
        color: red;
        /* font: driving-around; */
        /* transition-property: color;
    
        transition-duration: 0.2s; */
    }
    
    .profile-avatar {
        margin: 7%;
        height: 70px;
        width: 70px;
    }
    
    .profile-nickname, .profile-score {
        text-align: center;
    
        color: red;
    }
    
    .profile-nickname {
        margin-bottom: 5px;
    }
    
    .profile-score {
        margin: 0px;
    
        font-size: 30px;
    }
    
    .main-bar__item {
        text-align: center;
    
        width: 32%;
        height: 100%;
    
        background-color: white;
    
        border: 1px red solid;
        border-radius: 5px;
    
        transition: 0.2s linear;
    }
    
    .menu_btn {
        font-size: 25px;
    
        border-radius: 5px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .btn-1 {
        font-size: 25px;
    
        width: 48%;
    
        border-radius: 5px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .menu_btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: red;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu_btn:hover::after {
        display: flex;
        justify-content: space-around;
        margin: none;
    
        font-size: 15px;
        
        content: attr(data-title);
        color: #fff;
        font-family: sans-serif;
        /* background-color: green; */
    
        transition: 0.2s linear;
    }
    
    .menu__play-btn {
        width: 100%;
        height: 50px;
        margin: 5px 0 0 0;
    
        font-size: 25px;
    
        border-radius: 5px;
        border: solid red 1px;
    
        color: red;
        background: rgba(255, 255, 255, 0.5);
        
        outline: none;
    
        transition-property: width;
    
        transition-delay: 0.2s;
        transition-duration: 0.2s;
    }
    
    .menu__play-btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: red;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu__profile {
        float: right;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
    
        width: 29%;
        height: 98px;
    
        border-radius: 5px;
        border: 1px red solid;
    
        background-color: rgba(255, 255, 255, 0.8);
    
        transition-property: height;
    
        transition-delay: 0s;
        transition-duration: 0.2s;
    }
    
    .menu__profile + .menu__play-btn {
        width: 100%;
    }
    
    
    .menu__profile:hover {
        height: 154px;
        
        transition-property: height;
    
        transition-delay: 0.2s;
        transition-duration: 0.2s;
    }
    
    .menu__profile:hover + .menu__play-btn {
        width: 70%;
    
        transition-property: width;
    
        transition-delay: 0s;
        transition-duration: 0.2s;
    }
    
    
    .options__link {
        color: red;
        text-decoration: none;
        
        transition: 0.2s linear;
    }
    
    .options__link:hover {
        transition: 0.2s linear;
        background-color: red;
        color: white;
    }
    
    .menu__chat-section {
        position: absolute;
    
        bottom: 5px;
        left: 5px;
    
        height: 350px;
        width: 300px;
    }
}








/* .app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    margin: 30vh auto auto auto;
    width: 650px;
    height: 154px;
    justify-content: space-between;
} */

/* Блоки: */

.chose {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 30vh auto auto auto;
    width: 650px;
    height: 154px;
}

.main-bar {
    display: flex;
    justify-content: space-between;
    float: left;

    margin: none;
    width: 70%;
    height: 100px;
}

.options {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 5px auto;
    width: 650px;
}

/* Элементы */

.chose__title {
    text-align: center;

    margin: 0px 0px 5px 0px;
    width: 100%;

    color: red;
    /* font: driving-around; */
}

.main-bar__item {
    text-align: center;

    width: 32%;
    height: 100%;

    background-color: white;

    border: 1px red solid;
    border-radius: 5px;

    transition: 0.2s linear;
}

.chose_btn {
    font-size: 25px;

    border-radius: 5px;
    border: solid red 1px;

    color: red;
    background: rgba(255, 255, 255, 0.5);

    transition: 0.2s linear;

    outline: none;
}

.chose_btn:hover {
    font-size: 30px;

    border: solid white 1px;

    background-color: red;
    color: white;

    transition: 0.2s linear;
}

.chose_btn:hover::after {
    display: flex;
    justify-content: space-around;
    margin: none;

    font-size: 15px;
    
    content: attr(data-title);
    color: #fff;
    font-family: sans-serif;
    /* background-color: green; */

    transition: 0.2s linear;
}

.chose__play-btn {
    width: 100%;
    height: 50px;
    margin: 5px 0 0 0;

    font-size: 25px;

    border-radius: 5px;
    border: solid red 1px;

    color: red;
    background: rgba(255, 255, 255, 0.5);
    
    outline: none;

    transition-property: width;

    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.chose__play-btn:hover {
    font-size: 30px;

    border: solid white 1px;

    background-color: red;
    color: white;

    transition: 0.2s linear;
}

.chose__profile {
    float: right;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    width: 29%;
    height: 98px;

    border-radius: 5px;
    border: 1px red solid;

    background-color: rgba(255, 255, 255, 0.8);

    transition-property: height;

    transition-delay: 0s;
    transition-duration: 0.2s;
}

.chose__profile + .chose__play-btn {
    width: 100%;
}


.chose__profile:hover {
    height: 154px;
    
    transition-property: height;

    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.chose__profile:hover + .chose__play-btn {
    width: 70%;

    transition-property: width;

    transition-delay: 0s;
    transition-duration: 0.2s;
}


.options__link {
    color: red;
    text-decoration: none;
    
    transition: 0.2s linear;
}

.options__link:hover {
    transition: 0.2s linear;
    background-color: red;
    color: white;
}