<head>
    <link rel="stylesheet" href="PaymentsComponents.css">
</head>
<body>
    <div class="payments">
        <h1 class="payments__title">Payments</h1>
        <form class="payments__input-section" action="/payments" method="post" id="contact_form">
            <input type="text" name="phone" class="payments__phonenumber" placeholder="9xxxxxxxxx">
            <input type="text" name="amout" placeholder="100 $">
            <button href="/"><i class="fas fa-angle-left"></i></button>
            <button type="submit" id="form_button">Payout</button>
        </form>
    </div>
</body>