
.chat {
    display: flex;
    height: 100%;
    width: 100%;

    flex-wrap: wrap;

    justify-content: space-between;
}

.chat__chatbox {

    width: 100%;
    height: 85%;

    max-width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    border: solid red 1px;
    border-radius: 5px;

    margin-bottom: 5px;
}

.chat__chatbox::-webkit-scrollbar { 
    width: 0; 
}

.chat__form {
    width: 100%;
    height: 12%;
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
}

.chat__input {
    border: solid red 1px;
    border-radius: 2px;

    color: red;

    width: 78%;
    height: 90%;

    font-size: 16px;

    outline: none;

    padding-left: 5px;
}

.chat__submit {
    border: solid red 1px;
    border-radius: 2px;

    width: 18%;
    height: 100%;

    font-size: 16px;

    transition: 0.2s linear;

    background-color: white;
    color: red;

    outline: none;
}

.chat__submit:hover {
    transition: 0.2s linear;

    background-color: red;
    color: white;

}

.chat__chatbox-message {
    width: 100%;
    height: 40px;

    justify-content: space-around;

    display: flex;
    flex-wrap: wrap;

    padding-left: 5px; 

    border-bottom: solid red 1px;

    font-size: 20px;
    color: red;
}

.chat__chatbox-message-avatar {
    width: 30px;
    height: 30px;

    margin: auto;
}

.chat__chatbox-message-nickname {
    margin: auto;
    background-color: red;

    color:white;
}

.chat__chatbox-message-text {
    max-width: 50%;
    height: auto;
    margin: 5px;

    margin: auto;
}

.chat__chatbox-message-timestamp {
    width: 20%;
    font-size: 10px;
    
    margin: auto;    
}

.chat-section {
    margin: 20vh auto auto auto;

    height: 350px;
    width: 300px;
}

.chat__menu-link{
    color: red;
    font-size: 30px;
}