body {
    overflow: hidden;
    background-color: #5B5B5B;
}

.game {
    /* margin: 0 auto 0 auto; */
    /* width: 500px;
    height: 500px; */

    /* position: fixed; */

    /* border: solid 1px black; */
}

#connect { 
/* 
    width: 100px;
    height: 100px;

    margin: auto; */
}