th { 
    background-color: rgb(0, 197, 197);
}

tbody .tr:hover { 
    background-color: rgb(0, 225, 225);
    transform: scale(1.1);
    transition: 0.2s linear;
}

tbody .tr {
    background-color: rgb(2, 224, 224);
    color: rgb(160, 119, 235);
    transform: scale(1.0);
    transition: 0.2s linear;
}

.leadersTable { 
    width: 350px;
    margin: 0 auto auto auto;
}