.profile {
    position: relative;

    margin: 15vh auto;
    padding: 15px;

    max-width: 900px;
    min-width: 300px;

    background-color: rgb(214, 210, 210);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.userSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.userCart, .fullInfo {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}
.userCart {
    flex-direction: column;
    max-width: 270px;

    background-color: bisque
}

.userCart div {
    position: relative;
    margin: auto;
    min-width: 270px;
    text-align: center;    
}

.nickname {

    background-color: rgb(255, 236, 213);
}

.about {
    background-color: rgb(255, 211, 157);
}

.mainInfo {
    background-color: rgb(255, 200, 132);
}

.buttonSection {
    background-color: rgb(255, 189, 109);

    display: flex;
    flex-direction: column;
}

.buttonSection button {
    width: 250px;
    height: 35px;
    margin: 2px auto;

    border: 0px;
    background-color:aquamarine;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition: 0.2s linear;

}

.buttonSection button:hover {
    transition: 0.2s linear;
    background-color: rgb(48, 219, 162);
} 

.social {
    background-color: rgb(252, 174, 80);
}

.fullInfo {
    /* flex: 2; */
    max-width: 600px;
    background-color: rgb(181, 255, 255);
}

.fullInfo div {
    border: 2px solid;
    background-color: rgb(188, 152, 221);
    margin: 1px auto;
    width: 290px;
    height: 200px;
}