.leaderboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 30vh auto auto auto;
    width: 650px;
    height: 154px;
}

.leaderboard__title {
    margin: none;
    width: 100%;

    text-align: center;

    color: red;
}

.paginator-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 81%;
    height: 50px;

}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}

.board__item {
    margin: none;
    width: 32%;

    border: solid 1px red;
}

.board__player {
    display: flex;
    justify-content: space-between;

    width: 80%;
    height: 50px;
    margin: 0px 0px 2px 0px;

    border-radius: 5px;
    border: solid 1px red;

    transition: 0.2s linear;
}

.board__player h3 {
    width: 30%;
}

.leaderboard_back-button {
    margin: none;
    width: 30%;
    height: 50px;

    font-size: 25px;

    border-radius: 5px;
    border: solid red 1px;

    color: red;
    background: rgba(255, 255, 255, 0.5);

    transition: 0.2s linear;

    outline: none;
}

.leaderboard_back-button:hover {
    font-size: 30px;

    border: solid white 1px;

    background-color: red;
    color: white;

    transition: 0.2s linear;
}

.leaderboard_page-button {
    margin: none;
    width: 20%;
    height: 40px;

    font-size: 10px;

    border-radius: 5px;
    border: solid red 1px;

    color: red;
    background: rgba(255, 255, 255, 0.5);

    transition: 0.2s linear;

    outline: none;
}


.leaderboard_page-button:hover {
    font-size: 15px;

    border: solid white 1px;

    background-color: red;
    color: white;

    transition: 0.2s linear;
}

.leaderboard_page-pageNumber {
    width: 58%;
    margin: 0;
    text-align: center;
}